In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

# Grouping Data

### By Column Index

In [2]:
address = r"C:\Users\vvishal\Documents\DataScienceTutorials\Data\mtcars.csv"

# Read the CSV file
cars = pd.read_csv(address)

# Create columns for our dataframe
cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

# Print 5 entries of the dataframe 
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
car_group = cars.groupby(cars['cyl'])
car_group.mean()

,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,,,,,,,,,,
4,26.663636,105.136364,82.636364,4.070909,2.285727,19.137273,0.909091,0.727273,4.090909,1.545455
6,19.742857,183.314286,122.285714,3.585714,3.117143,17.977143,0.571429,0.428571,3.857143,3.428571
8,15.100000,353.100000,209.214286,3.229286,3.999214,16.772143,0.000000,0.142857,3.285714,3.500000

In [4]:
car_group = cars.groupby(cars['am'])
car_group.mean()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,gear,carb
am,,,,,,,,,,
0,17.147368,6.947368,290.378947,160.263158,3.286316,3.768895,18.183158,0.368421,3.210526,2.736842
1,24.392308,5.076923,143.530769,126.846154,4.050000,2.411000,17.360000,0.538462,4.384615,2.923077

In [6]:
car_subset = cars[['mpg', 'disp', 'hp', 'wt']]
car_subset

     mpg   disp   hp     wt
0   21.0  160.0  110  2.620
1   21.0  160.0  110  2.875
2   22.8  108.0   93  2.320
3   21.4  258.0  110  3.215
4   18.7  360.0  175  3.440
5   18.1  225.0  105  3.460
6   14.3  360.0  245  3.570
7   24.4  146.7   62  3.190
8   22.8  140.8   95  3.150
9   19.2  167.6  123  3.440
10  17.8  167.6  123  3.440
11  16.4  275.8  180  4.070
12  17.3  275.8  180  3.730
13  15.2  275.8  180  3.780
14  10.4  472.0  205  5.250
15  10.4  460.0  215  5.424
16  14.7  440.0  230  5.345
17  32.4   78.7   66  2.200
18  30.4   75.7   52  1.615
19  33.9   71.1   65  1.835
20  21.5  120.1   97  2.465
21  15.5  318.0  150  3.520
22  15.2  304.0  150  3.435
23  13.3  350.0  245  3.840
24  19.2  400.0  175  3.845
25  27.3   79.0   66  1.935
26  26.0  120.3   91  2.140
27  30.4   95.1  113  1.513
28  15.8  351.0  264  3.170
29  19.7  145.0  175  2.770
30  15.0  301.0  335  3.570
31  21.4  121.0  109  2.780

In [8]:
a = cars.groupby(cars['mpg']) 
a.sum()

      cyl   disp   hp  drat      wt   qsec  vs  am  gear  carb
mpg
10.4   16  932.0  420  5.93  10.674  35.80   0   0     6     8
13.3    8  350.0  245  3.73   3.840  15.41   0   0     3     4
14.3    8  360.0  245  3.21   3.570  15.84   0   0     3     4
14.7    8  440.0  230  3.23   5.345  17.42   0   0     3     4
15.0    8  301.0  335  3.54   3.570  14.60   0   1     5     8
15.2   16  579.8  330  6.22   7.215  35.30   0   0     6     5
15.5    8  318.0  150  2.76   3.520  16.87   0   0     3     2
15.8    8  351.0  264  4.22   3.170  14.50   0   1     5     4
16.4    8  275.8  180  3.07   4.070  17.40   0   0     3     3
17.3    8  275.8  180  3.07   3.730  17.60   0   0     3     3
17.8    6  167.6  123  3.92   3.440  18.90   1   0     4     4
18.1    6  225.0  105  2.76   3.460  20.22   1   0     3     1
18.7    8  360.0  175  3.15   3.440  17.02   0   0     3     2
19.2   14  567.6  298  7.00   7.285  35.35   1   0     7     6
19.7    6  145.0  175  3.62   2.770  15.50   0   1     5     6
21.0   12  320.0  220  7.80   5.495  33.48   0   2     8     8
21.4   10  379.0  219  7.19   5.995  38.04   2   1     7     3
21.5    4  120.1   97  3.70   2.465  20.01   1   0     3     1
22.8    8  248.8  188  7.77   5.470  41.51   2   1     8     3
24.4    4  146.7   62  3.69   3.190  20.00   1   0     4     2
26.0    4  120.3   91  4.43   2.140  16.70   0   1     5     2
27.3    4   79.0   66  4.08   1.935  18.90   1   1     4     1
30.4    8  170.8  165  8.70   3.128  35.42   2   2     9     4
32.4    4   78.7   66  4.08   2.200  19.47   1   1     4     1
33.9    4   71.1   65  4.22   1.835  19.90   1   1     4     1